@import "tailwindcss";



@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  position: fixed;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  width: 30px;
  height: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  background-color: #1a202c; /* Replace with your dark color */
}

.hamburger-active > span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2) {
  transform: scale(0);
}

.hamburger-active > span:nth-child(3) {
  transform: rotate(-45deg);
}
